#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border:1px
    solid blue;
    display:block;
}


.pgheadleft {
  margin: 0px;
  display: inline-block;
  width: 39%;
  text-align: center;
}

.pgheadmid {
  margin: 0px;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.pgheadright {
  margin: 0px;
  display: inline-block;
  width: 39%;
  text-align: center;

}

.pgbodyleft {
  margin: 0px;
  display: inline-block;
  width: 12%;
  text-align: center;
}

.pgbodycanvas {
  margin: 0px;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.pgbodyright {
  margin: 0px;
  display: inline-block;
  width: 13%;
  text-align: center;
}

.pgbodylefttop {
  height: 33%;

}
.pgbodyleftmid {
  height: 33%;
}

.pgbodyleftbottom {
  height: 33%;
}

.pgbodyrighttop {
  height: 33%;
}

.pgbodyrightmid {
  height: 33%;
}

.pgbodyrightbottom {
  height: 33%;
}

.brushs {
  width: 33%;
}

#prevbutton {
background: transparent url('/images/leftarrow.jpg') no-repeat 0 0;
height: 125px;
width: 123px;
border: 0;



}
#nextbutton {
background: transparent url('/images/rightarrow.jpg') no-repeat 0 0;
height: 125px;
width: 123px;
border: 0;

}

body {

 background-color: rgb(255,255,255);

}





