#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border:1px
    solid blue;
    display:block;
}


.pgheadleft {
  margin: 0px;
  display: inline-block;
  width: 39%;
  text-align: center;
}

.pgheadmid {
  margin: 0px;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.pgheadright {
  margin: 0px;
  display: inline-block;
  width: 39%;
  text-align: center;

}

.pgbodyleft {
  margin: 0px;
  display: inline-block;
  width: 14%;
  text-align: center;
}

.pgbodycanvas {
  margin: 0px;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.pgbodyright {
  margin: 0px;
  display: inline-block;
  width: 14%;
  text-align: center;
}

.pgbodylefttop {
  height: 33%;

}
.pgbodyleftmid {
  height: 33%;
}

.pgbodyleftbottom {
  height: 33%;
}

.pgbodyrighttop {
  height: 33%;
}

.pgbodyrightmid {
  height: 33%;
}

.pgbodyrightbottom {
  height: 33%;
}

.brushs {
  width: 33%;
}











